@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 0.6rem;
}

.top-bar {
    background-color: black;
    height: 6vh;
    padding: 0.2rem 0;
}

.top-bar .top-right-bars {
    float: right;
    display: flex;
}

.btn {
    background-color: #4A4A4A;
    border-radius: 5px;
    border: none;
    padding: 3px 5px;
    margin-right: 5px;
    color: white;
    font-size: 0.6rem;
}

.top-right-bars .fa-table-cells {
    padding-right: 5px;
}

.main {
    background-color: black;
    height: 86vh;
    padding: 1rem 3rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.card {
    flex-basis: calc(100% / 7 - 0.2rem);
    height: calc(86vh / 5 - 0.5rem - 0.1rem - 0.4rem);
    background-color: white;
    overflow: hidden;
    margin-bottom: 0.4rem;
    position: relative;
}

.card img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.person-name {
    max-width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
    padding: 0.2rem;
}

.bottom-bar {
    background-color: #222222;
    height: 8vh;
}

.bottom-bar-container {
    display: flex;
    justify-content: space-between;
}

.video-settings {
    display: flex;
    gap: 0.3rem;
    padding: 0.6rem 0.3rem;
}

.col-video-settings {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
}

.video-settings-icon {
    text-align: center;
    flex-grow: 1;
    font-size: 1.3rem;
}

.col-arrow {
    position: relative;
    padding-right: 0.6rem;
    display: flex;
    align-items: center;
}

.main-settings-grow {
    flex-grow: 1;
}

.fa-share-from-square {
    color: #47C900;
    font-weight: bold;
}

.end-video {
    background-color: #4A4A4A;
    color: red;
    padding: 0.8rem;
    display: flex;
    align-items: center;
}